/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-color: darkgray;
}

body{
    padding: 100px;
}



 body h1{
    align-items: center;
    color: rgb(12, 12, 12);
    margin-left:9.6em;
}

label{
    font-weight: bold;
}






